.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates

*.log
*.cache

/Assemblies/*.dll
/1.3/Assemblies/*.dll
/1.4/Assemblies/*.dll
/1.5/Assemblies/*.dll
/1.6/Assemblies/*.dll
!/1.6/Assemblies/SlaveQuest.dll

UnityEngine*.dll
Assembly-CSharp.dll
0Harmony.dll
HugsLib.dll
NVorbis.dll
NAudio.dll

# *.sln

.DS_Store
Thumbs.db
*.dds.tmp